body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  letter-spacing: 0.05rem;
}

header,
main,
footer {
  margin: 1.25rem auto;
  max-width: 767px;
}

header,
footer {
  color: #eee;
  background: #232b2b;
  text-align: center;
  box-shadow: 0 0 8px #333;
  line-height: 1.8rem;
}

header {
  padding: 1.5rem;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}

.logo-container {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: solid 4px #eee;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 0 8px #333;
}

.logo-container a {
  position: absolute;
  right: -50%;
  left: -50%;
  top: 35%;
  font-size: 1rem;
  font-weight: bold;
  color: #2998ff;
  text-decoration: none;
}

.logo-container:hover {
  border: solid 4px #fff;
}

nav {
  margin: -1.25rem auto 1.25rem;
  max-width: 815px;
  overflow: hidden;
  background: #232b2bca;
  text-align: center;
  box-shadow: 0 0 8px #333;
}

nav {
  display: flex;
  flex-direction: column;
}

nav div {
  flex: 1 1 auto;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

nav a:hover {
  background-color: #232b2b8a;
  color: #2998ff;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

main h1 {
  color: #333;
  margin: 1rem;
  text-align: center;
  text-shadow: 0 0 8px #333;
}

main h3 {
  text-align: center;
  margin: 1rem;
  color: #333;
}

section {
  margin: 0 1rem;
  border: 1px solid #232b2b;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.2rem;
}

section h2 {
  background: #232b2bca;
  margin: 0;
  padding: 1rem;
  color: #eee;
}

section p,
li {
  color: #333;
  line-height: 1.2rem;
  padding: 0 1rem;
  font-size: 0.8rem;
}

.span-2 {
  max-width: 600px;
  margin: 0 1rem;
}

section h1 {
  font-size: 1.2rem;
  text-align: left;
  color: #232b2b;
  text-shadow: none;
}

.site-header {
  background-color: #232b2b;
  padding: 0.5rem;
  border-radius: 10px;
  color: #eee;
}

section .primary-navigation {
  font-size: 1rem;
  background-color: inherit;
  color: #232b2bca;
}

section .primary-navigation span {
  border-radius: 10px;
  background-color: #232b2bca;
  color: #eee;
  padding: 0.5rem;
}

section .hover-navigation {
  font-size: 1rem;
  background-color: inherit;
  color: #232b2b8a;
}

section .hover-navigation span {
  border-radius: 10px;
  background-color: #232b2b8a;
  color: #eee;
  padding: 0.5rem;
}

section .logo-h3 {
  font-size: 0.9rem;
  text-align: left;
  color: #2998ff;
}

section .logo-h3 span {
  border-radius: 10px;
  background-color: #2998ff;
  color: #eee;
  padding: 0.5rem;
}

section .paragraph {
  display: block;
  margin-top: 2rem;
  color: #333333;
}

section .paragraph span {
  border-radius: 10px;
  background-color: #333333;
  color: #eee;
  padding: 0.5rem;
}

section .white-text {
  color: #333333;
  margin-top: 2rem;
}

section .white-text span {
  border-radius: 10px;
  background-color: #eeeeee;
  color: #333333;
  padding: 0.5rem;
}

footer {
  padding: 1.5rem;
  line-height: 1.8rem;
}

footer h3 {
  font-size: 1rem;
  color: #2998ff;
}
