* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-content: space-between;
  margin: 0 auto;
  background-color: #232b2b;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo svg {
  width: 80px;
  height: auto;
  border-radius: 50%;
  background-color: #eee;
  padding: 0.5rem;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.headings .title {
  margin-top: -0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2998ff;
}

.m {
  letter-spacing: 1pt;
  color: #eee;
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: -1rem;
}

.socialMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header button {
  margin: 0.5rem 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #eee;
}

header div:nth-child(3) {
  text-align: center;
  background-color: #555;
  grid-column: span 2;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  color: #eee;
}

header div:nth-child(4) {
  text-align: center;
  background-color: #2998ff;
  grid-column: span 2;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  color: #eee;
}

header .banner {
  display: none;
}

header .banner.show {
  display: block;
}

nav {
  background-color: #232b2bca;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #eee;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #2998ff;
}

nav ul li a:hover {
  background-color: #232b2bca;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

.hamburgerBtn span:nth-child(1) {
  display: block;
}
.hamburgerBtn span:nth-child(2) {
  display: none;
}

.hamburgerBtn.open span:nth-child(1) {
  display: none;
}
.hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.social svg {
  width: 1.6rem;
  height: auto;
}

main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.8rem;
}

main div {
  background-color: #232b2b;
  min-height: auto;
  font-style: italic;
  color: #333;
}

main .join {
  display: none;
}

main .spotlight3 {
  display: none;
}

main .hero {
  position: relative;
}

main .hero img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

main .hero h2 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #eee;
}

main .hero div {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(35, 43, 43, 0.7);
  color: #eee;
  font-weight: bold;
  cursor: pointer;
}

main .hero div:hover {
  background-color: rgb(35, 43, 43, 1);
  cursor: pointer;
  box-shadow: 0 0 5px #eee;
}

main .event {
  padding: 1rem;
  color: #eee;
  text-align: center;
}

main .event span {
  color: #2998ff;
  cursor: pointer;
}

main .event span:hover {
  color: #eee;
}

.weather, .weather div, .weather-info{
  background-color: #eee;
  color: #333;
}

.weather h2 {
  text-align: center;
  font-size: 2rem;
}

.weather-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.weather-logo p {
  font-size: 3rem;
}

.weather-logo img {
  width: 100%;
}

.weather-info p:nth-child(1),
.spotlight p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid #333;
  margin: 1rem;
  padding: 1rem;
}

.weather-info,
.spotlight .info {
  color: #eee;
  text-align: center;
}

.join div {
  background-color: rgb(41, 152, 255, 0.7);
  padding: 1rem;
  border-radius: 10px;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
}

.join div:hover {
  background-color: rgb(41, 152, 255, 1);
  box-shadow: 0 0 5px #eee;
}

.join {
  padding: 1rem;
  color: #eee;
  text-align: center;
}

.spotlight1,
.spotlight2,
.spotlight3 {
  border: 1px solid #eee;
  margin: 1rem;
}

.spotlight img {
  width: 100%;
}

.spotlight {
  box-shadow: 0 0 5px #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  color: #eee;
}

.news {
  color: #eee;
  padding: 1rem;
  text-align: center;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}

footer {
  color: #eee;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #232b2b;
  align-items: center;
  justify-content: center;
}

footer .logo {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .logo p {
  margin-top: -0.2rem;
}

footer .info {
  text-align: center;
}

footer .info a {
  text-decoration: none;
  color: #eee;
}

footer .info a:hover {
  color: #2998ff;
}

footer .copyright {
  border-top: 1px solid #eee;
  margin: 1rem;
  text-align: center;
}

footer .copyright .name {
  font-weight: bold;
}

footer .copyright .separation {
  display: none;
}

/* Discover page */
.card-container {
  background-color: #fff;
}

.card,
.card-info {
  background-color: #eee;
}

.card,
.card-none {
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;
  max-width: 600px;
  border: 1px solid #333;
  border-radius: 10px;
}

.card img,
.card-none img {
  height: auto;
  width: 100%;
}

.card-info {
  font-style: normal;
  padding: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}

.card-title {
  font-size: 1.2rem;
}

.card img[data-src],
.card-none {
  filter: blur(0.2rem);
}

.card img,
.card {
  filter: blur(0em);
  transition: filter 0.5s;
}

.card-container .visits {
  background-color: #232b2b;
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: #eee;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  border-radius: 10px;
}

/* FORM */

main .form-container {
  background-color: #232b2b;
  padding: 1rem;
  max-width: 30rem;
}

main form {
  max-width: 20rem;
  width: 100%;
  margin: 0 auto;
}

main .title-form {
  color: #eee;
  text-align: center;
}

main .user {
  text-align: center;
}

main .user svg {
  width: 6rem;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #eee;
  padding: 0.5rem 1rem 1rem;
}

form legend {
  color: #2998ff;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #eee;
  font-size: 1rem;
}

form div {
  background-color: inherit;
  font-style: normal;
  margin-bottom: 0.5rem;
}

form label.top input,
form label.top textarea,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  padding: 0.75rem;
  color: #333;
  width: 100%;
  max-width: 20rem;
  background-color: #eee;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #fff;
}

form input.submitBtn {
  border: none;
  background-color: hsl(209, 100%, 58%, 0.7);
  color: #fff;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin-left: 1rem;
  max-width: 286px;
  width: 100%;
  cursor: pointer;
}

form input.submitBtn:hover {
  background-color: hsl(209, 100%, 58%, 1);
}

form label.top input:required {
  border: red solid 3px;
}

form label.top input:required:valid {
  border: green solid 3px;
}

main .thanks {
  margin: 0 auto;
  background-color: #232b2b;
  text-align: center;
  max-width: 600px;
  padding: 2rem;
  color: #eee;
  border-radius: 10px;
}

main .thanks h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

main .thanks svg {
  width: 4rem;
}

.membership-container {
  background-color: inherit;
  max-width: 600px;
}

.membership-element {
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #eee;
  padding: 1rem;
  text-align: center;
}

.membership-element:last-child {
  margin-bottom: 0;
}

.membership-icon svg {
  width: 6rem;
}

.cards.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: inherit;
}

.menu-cards {
  background-color: inherit;
  margin: 0 auto;
}

.menu-cards button {
  padding: 0.8rem;
  width: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: hsla(209, 100%, 58%, 0.7);
  margin: 0.2rem;
  border-radius: 4px;
  color: #333;
}

.menu-cards button:hover {
  background-color: hsla(209, 100%, 58%, 1);
}

.cards.grid section {
  margin: 1rem 1.5rem 1rem 0.5rem;
  font-style: normal;
  text-align: center;
  box-shadow: 0 0 5px #333;
  background-color: #eee;
  color: #333;
  border: solid 1px #333;
  padding: 1rem;
}

.cards.grid section h2 {
  color: #333;
}

.cards.grid section img {
  border: 2px solid #333;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
  box-shadow: 0 0 20px #333;
}

.cards.grid p {
  text-align: left;
  border: 1px solid #333;
  padding: 1rem;
  max-width: 300px;
  margin: 1rem auto;
  background-color: hsla(209, 100%, 58%, 0.3);
}

.cards.grid a {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  background-color: hsla(180, 10%, 15%, 0.7);
  color: #eee;
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
}

.cards.grid a:hover {
  background-color: hsla(180, 10%, 15%, 1);
}

.cards.list {
  margin: 0.5rem -1rem;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.cards.list section {
  font-style: normal;
  padding: 1rem;
  background-color: #eee;
}

.cards.list section h2 {
  font-size: 1rem;
}

.cards.list section:nth-child(even) {
  background-color: hsla(209, 100%, 58%, 0.3);
}

.cards.list section:hover {
  background-color: hsla(209, 100%, 58%, 0.5);
}

.cards.list img,
.cards.list .membership-level,
.cards.list .opening-year {
  display: none;
}
