@media only screen and (min-width: 64rem) {
  .headings .title {
    font-size: 1.9rem;
  }

  .m {
    font-size: 1.2rem;
  }

  nav ul li a {
    font-size: 1.4rem;
  }

  header button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
  }
  nav ul li a {
    border: none;
  }

  nav ul li a {
    padding: 1rem 1rem;
  }

  .social {
    margin-right: 1rem;
  }

  .social svg {
    width: 2rem;
    height: auto;
  }

  .date,
  header div:nth-child(4) {
    font-size: 1.4rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  main .hero {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  main .hero h2 {
    font-size: 5rem;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main .hero img {
    object-fit: cover;
  }

  main .news {
    grid-column: 2/4;
    grid-row: 3;
  }

  main .spotlights {
    grid-column: 4/5;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  main .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3;
  }

  main .join div {
    width: 100%;
  }

  main .event {
    grid-column: 1/2;
    grid-row: 1;
  }

  main .weather {
    grid-column: 1/2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main .spotlight3 {
    display: flex;
  }

  footer .logo svg {
    width: 7rem;
  }

  footer {
    font-size: 1.4rem;
  }

  footer .copyright p {
    font-size: 1.4rem;
  }

  footer .copyright .last-uptdated {
    display: inline-block;
  }

  .card-container {
    grid-column: span 4;
    align-self: center;
    justify-self: center;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-paragraph {
    font-size: 1.4rem;
  }

  form label.sbs {
    padding: 0.4rem 0;
  }

  main .form-container{
    grid-column: span 2;
  }

  main .title-form{
    grid-column: span 2;
  }

  main .thanks{
    grid-column: span 4;
  }

  .membership-container{
    grid-column: span 2;
  }

  .cards, .menu-cards{
    grid-column: span 4;
  }

  .cards.list section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .cards.list section h2:nth-of-type(1){
    width: 25%;
  }

  .cards.list section p:nth-of-type(1){
    width: 25%;
  }

  .cards.list section p:nth-of-type(2){
    width: 25%;
    text-align: center;
  }

  .cards.list section a:nth-of-type(1){
    width: 25%;
  }
}